@{
    ViewData["Title"] = "Reports";
}

@model OverTimeWorkReport

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="container mt-3">
        <h1>Командный отчёт</h1>
        <p>Отчёт переработок и отработок.</p>
        <button id="btnShowReport" class="btn btn-primary">Добавить новую запись</button>

        <hr />

        <div class="collapse">
            <div class="card shadow">
                <div class="container">
                    <form style="margin: 10px">
                        <h3>Добавить отчёт:</h3>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Описание причины">
                                    <select class="custom-select">
                                        <option value="1" selected>Переработка</option>
                                        <option value="2">Недоработка</option>
                                    </select>
                                    <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control" placeholder="Кол-во">
                                    <div class="input-group-append">
                                        <label class="input-group-text">Часов</label>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group text-right">
                                    <input type="submit" value="Добавить в справочник" class="btn btn-success" />
                                    <button type="button" class="btn btn-danger btnHideCreate">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <hr />
        </div>

        <div class="shadow">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Текущий месяц</th>
                        <th>Прошлый месяц</th>
                        <th>Всего</th>
                    </tr>
                </thead>
                <tbody id="dictionary">
                    @{
                        foreach (var report in @ViewBag.OverTimeWorkReports)
                        {
                            <tr>
                                <td>@report.Name</td>
                                <td class="text-center">
                                    <text class="text-success">
                                        @report.OverTime
                                    </text>
                                    <text> / </text>
                                    <text class="text-danger">
                                        @report.TimeOff
                                    </text>
                                </td>
                                <td class="text-center">
                                    <text class="text-success">
                                        @report.LastOverTime
                                    </text>
                                    <text> / </text>
                                    <text class="text-danger">
                                        @report.LastTimeOff
                                    </text>
                                </td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <p style="margin-bottom: 50px">Note that we start the search in tbody, to prevent filtering the table headers.</p>

    </div>

    <script>
        $(document).ready(function () {
            $("#btnShowReport").click(function () {
                $(".collapse").collapse('show');
            });
        })
    </script>
</body>
</html>