@{
    ViewData["Title"] = "Reports";
}

@model OverTimeWorkReport

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="">
        <h1>Командный отчёт</h1>
        <p>Отчёт переработок и отработок.</p>

        <hr />

        <div class="collapse collapseCreate">
            <div class="card shadow">
                <div class="row" style="margin: 10px">
                    <div class="col-12">
                        <h3>Добавить новую запись:</h3>

                        <form asp-action="Reports">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @*<div class="form-group">
                                    <input asp-for="Name" type="text" class="form-control" placeholder="Описание">
                                </div>*@
                            <div class="form-group">
                                <input asp-for="OverTimeHour" type="number" class="form-control" placeholder="Кол-во переработанных часов">
                            </div>
                            <hr />
                            <div class="form-group text-right">
                                <input type="submit" value="Добавить в справочник" class="btn btn-success" />
                                <button type="button" class="btn btn-danger btnHideCreate">Отмена</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br />
        </div>

        <div class="shadow">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Текущий месяц</th>
                        <th>Прошлый месяц</th>
                        <th>Всего</th>
                    </tr>
                </thead>
                <tbody id="dictionary">
                    @{
                        foreach (var report in @ViewBag.OverTimeWorkReports)
                        {
                            <tr>
                                <td>@report.Name</td>
                                <td class="text-center">
                                    <text class="text-success">
                                        @report.OverTime
                                    </text>
                                    <text> / </text>
                                    <text class="text-danger">
                                        @report.TimeOff
                                    </text>
                                </td>
                                <td class="text-center">
                                    <text class="text-success">
                                        @report.LastOverTime
                                    </text>
                                    <text> / </text>
                                    <text class="text-danger">
                                        @report.LastTimeOff
                                    </text>
                                </td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <p style="margin-bottom: 50px">Note that we start the search in tbody, to prevent filtering the table headers.</p>

    </div>
</body>
</html>